body {

}
header {
	background: url(../img/psur-logo.png) left no-repeat;
	background-size: auto 100%;
	border: 1px solid grey;
	box-shadow: 3px 6px grey;
	text-align: center; 
}

main {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	
}

footer {
	text-align: center;
	background: #86C91A;
	height: 50px;
}

footer p {
	line-height: 50px;
}

main p {
	text-align: justify;
}

div.pair-index {
	width: auto;
	display: inline-block;
	vertical-align: text-top;
}

div.pair-index h2,h3 {
	text-align: center;
}

div#general-content h3 {
	text-align: left;
}

div.izq {
	text-align: right;
}

div.der {
	text-align: left;
}

#index-main {
	text-align: center;
}

#menu {
	width: 25%;
	display: inline-block;
	vertical-align: top;
}

#menu a{
	font-size: 12px;
}

#menu ul{
	background: #CFCFCF;
	padding-left: 10px;
}

#menu ul ul{
	background: #CFCFCF;
	padding-left: 20px;
}

#menu li{
	list-style: none;
}

#general-content {
	width: 72%;
	display: inline-block;
	padding-left: 20px;
}