header {
	background: url(../img/samuelrivera3.jpg);
}
#contenido {margin: 0 auto}
#body {color:black;width:90%;margin-left:120px;}
#menu{
   position:absolute;
   width: 113px;
   height: 100%;
   border: solid;
   background-color: black;
   color: white;
   text-align: center;
   list-style-position: left;
   float:left;
   margin:left;
} 

#li {margin-left: 120px;
   width: 90%;font-size: 15px;
   font-family: arial;
   font-weight: normal;
   font-style: normal;
   line-height: 20px;
   letter-spacing: 2px;
   margin-bottom: 40px;
   margin-right: 20px}

h2 {text-align: center;margin-left: 120px}
p {color:black;
   font-size:15px;
   font-family:Arial;
   font-weight:normal;
   font-style:normal;
   line-height:20px;
   letter-spacing:2px;
   text-align:justify;
   margin-left: 120px;
   width: 90%;
   margin-right:10px;
   
     }

img {margin-left: 120px;width: 90%;height: 600px;float: center}

  li {text-align: justify;margin-right: 20px}
footer {text-align: center;}
