body {
    background-color: #F9E79F;
}
head {
    background-color: #F9E79F;
}
div.container {
    width: 100%;
}
nav {
    float: left;
    max-width: 200px;
    margin: 0;
    padding: 1em;
}
nav ul {
    list-style-type: none;
    padding: 0;
}   
nav ul a {
    text-decoration: none;
}
article {
    margin-left: 170px;
    padding: 1em;
    overflow: hidden;
}
p {
    color: #202014;
;
    text-align: left;
}
strong {
	color: #000000;
}
#imagen1 {
    width:100px;
    height:100px;
    float:left;
}
#imagen2 {
    width:200px;
    height:100px;
    float:right;
}
#imagen3 {
    width:350px;
    height:500px;
    float:right;
}
#h1-1 {
    color:green;
    text-align:center;
}
#h2-1 {
    color:DodgerBlue;
}
#h3-1 {
    color:DodgerBlue;
}
#h3-2 {
    color:DodgerBlue
}
#p-1 {
    text-align:center;
    color:green;
}